/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    text-align: center;
    color: #fff;
}

header {
    background-color: #222;
    padding: 20px 0;
}
nav{
    position: sticky;
    top:0px;
    z-index: 5;
    background-color: #222;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
}
.nav-item{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.nav-item a{
    text-decoration: none;
    color: white;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(143, 11, 11);
    border-radius: 8px;
}
.container #search{
    width: 40%;
    border-radius: 5px;
    height: 30px;
}



a.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #e62429;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a.btn:hover {
    background-color: #b71c1c;
}

.error{
    font-weight: bolder;
    color: yellow;
}
/* Efecto Parallax */
.parallax {
    padding: 10% 5% 10% 5%;
    height: 500px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax1 {
    background-image: url(../img/marvelFondo.jpeg);
}

#parallax2 {
    background-image: url(../img/animeFondo.webp);
}

.normal {
    padding: 50px;
    background-color: #222;
    color: #fff;
}
.content{
    margin: 10%;
    color: rgb(221, 136, 255);
    border: solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(0, 0,0, 0.7);
}

form {
    display: grid;
    grid-gap: 15px;
}

form div {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form button {
    background-color: #e62429;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #b71c1c;
}

/* Estilos de la página de búsqueda */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-item {
    position: relative;
}

.image-item img {
    width: 100%;
    border-radius: 10px;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    display: none;
}

.image-item:hover .description {
    display: block;
}
